django==4.1.4
cloudinary==1.30.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
python-dotenv==0.21.0
drf-social-oauth2==2.0.0
django-debug-toolbar==3.8.1
drf-nested-routers==0.93.4
psycopg2==2.9.5
django-cors-headers==3.14.0
django-filter==22.1
